.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* background: hsla(283, 100%, 87%, 1);
  background: linear-gradient(45deg, hsla(283, 100%, 87%, 1) 0%, hsla(262, 46%, 59%, 1) 57%, hsla(270, 32%, 46%, 1) 100%);
  background: -moz-linear-gradient(45deg, hsla(283, 100%, 87%, 1) 0%, hsla(262, 46%, 59%, 1) 57%, hsla(270, 32%, 46%, 1) 100%);
  background: -webkit-linear-gradient(45deg, hsla(283, 100%, 87%, 1) 0%, hsla(262, 46%, 59%, 1) 57%, hsla(270, 32%, 46%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ECBBFF", endColorstr="#8966C6", GradientType=1 ); */
  background-image: url('./Assets/Realistic.png');
  background-size: cover;
  background-position: center;
}
.container{
  margin-top: 200px;
  margin-left: 120px;
  height: 338px;
  width: calc(100vw-120px);
  display: flex;
  gap: 80px;
}

@media (max-width: 426px) {
  .App{
    width: 100vw;
    height: 100vh;
    background-position: top;
  }
  .container{
    margin-top: 30px;
    margin-left: 20px;
    height: calc(100vh-30px);
    width: 100vw;
    flex-direction: column;
    gap:0px;
  }
}
@media (max-width:1440px) {
  .App{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: top;
  }
}